<?xml version="1.0"?>
<!--
/**
 * Maverick_Generator Extension
 *
 * NOTICE OF LICENSE
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 * THE SOFTWARE.
 *
 * @version
 * @category    Maverick
 * @package     Maverick_Generator
 * @author      Mohammed NAHHAS <m.nahhas@live.fr>
 * @copyright   Copyright (c) 2013 Mohammed NAHHAS
 * @licence     OSL - Open Software Licence 3.0
 *
 */
-->
<config>
    <modules>
        <Maverick_Generator>
            <version>0.1.0</version>
        </Maverick_Generator>
    </modules>
    <global>
        <models>
            <maverick_generator>
                <class>Maverick_Generator_Model</class>
                <resourceModel>maverick_generator_resource</resourceModel>
            </maverick_generator>
            <maverick_generator_resource>
                <class>Maverick_Generator_Model_Resource</class>
                <entities>
                    <history>
                        <table>maverick_entity_generator</table>
                    </history>
                </entities>
            </maverick_generator_resource>
        </models>
        <resources>
            <maverick_generator_setup>
                <setup>
                    <module>Maverick_Generator</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </maverick_generator_setup>
        </resources>
        <blocks>
            <maverick_generator>
                <class>Maverick_Generator_Block</class>
            </maverick_generator>
        </blocks>
        <helpers>
            <maverick_generator>
                <class>Maverick_Generator_Helper</class>
            </maverick_generator>
        </helpers>
    </global>
    <!-- Admin Router -->
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <maverick_generator>Maverick_Generator_Adminhtml</maverick_generator>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
        <layout>
            <updates>
                <maverick_generator>
                    <file>maverick/generator.xml</file>
                </maverick_generator>
            </updates>
        </layout>
    </adminhtml>

    <!-- Default Configuration Values -->
    <default>
        <generator>
            <customer>
                <create_address>1</create_address>
                <password>password05</password>
                <website_id>1</website_id>
                <store_id>1</store_id>
                <group_id>1</group_id>
            </customer>
            <order>
                <store_id>1</store_id>
                <max_products>2</max_products>
                <checkmo_order_status>0</checkmo_order_status>
                <banktransfer_order_status>1</banktransfer_order_status>
            </order>

            <!-- Flat Rate Shipping Method Configuration -->
            <carriers>
                <flatrate>
                    <active>1</active>
                    <sallowspecific>0</sallowspecific>
                    <price>5.00</price>
                    <type>I</type>
                </flatrate>
            </carriers>

            <!-- Check and Bank Tranfer Payment Method Configuration -->
            <payment>
                <checkmo>
                    <active>1</active>
                    <order_status>pending</order_status>
                    <allowspecific>0</allowspecific>
                </checkmo>
                <banktransfer>
                    <active>1</active>
                    <order_status>pending</order_status>
                    <allowspecific>0</allowspecific>
                </banktransfer>
            </payment>
        </generator>
    </default>

    <!-- Mapping Entities -->
    <generator>
        <entities>
            <order>
                <label>Sales Order</label>
                <class>entities_order</class>
            </order>
            <customer>
                <label>Customer</label>
                <class>entities_customer</class>
            </customer>
        </entities>
    </generator>
</config>